---
layout: default
---

{% assign images = "" | split: "" %}
{% for project in site.projects %}
  {% for image in project.images %}
    {% assign images = images | push: image %}
  {% endfor %}
{% endfor %}

<div class="header">
  <a class="index-link" href="https://achernik.github.io/gusevfilatov/index/">Index</a>
  <div class="logo">
    <a href="https://achernik.github.io/gusevfilatov/">Dima Gusev and Misha Filatov</a>
    <div class="actions">
      <div class="about-link actions-item">Read about us, </div>
      <!-- <div class="actions-item">, </div> -->
      <a class="actions-item" href="mailto:gdemag@gmail.com">send e-mail, </a>
      <!-- <div class="actions-item">,</div> -->
      <a class="nowrap" href="tel:+79032202621">+7 903 220 2621</a>
    </div>
  </div>

  <div class="index-content page-item page-item-active">
    <div class="previews">
      {% for image in images %}
        <div class="preview-item">
          <a class="preview-link" href="https://achernik.github.io/gusevfilatov/#{{forloop.index}}">
            <div class="preview-overlay"></div>
            <div class="preview-img" style="background-image: url(https://achernik.github.io/gusevfilatov/{{image.path}})"></div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
