<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="We are Russian graphic design studio based in Moscow. The studio was founded in 2014 by Dima Gusev and Misha Filatov. Our work is mainly focused on projects in the cultural field (printed matter, identity, web). Feel free to contact us.">
    <meta name="og:description" content="We are Russian graphic design studio based in Moscow. The studio was founded in 2014 by Dima Gusev and Misha Filatov. Our work is mainly focused on projects in the cultural field (printed matter, identity, web). Feel free to contact us.">
    <meta property="og:title" content="Dima Gusev and Misha Filatov">
    <meta property="og:type" content="website">

    <link rel="stylesheet" media="all" href="/assets/sitewide.css">
    <script src="/assets/sitewide.js"></script>
    
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-66e34c89dc549b8aa6b08fc660b5f93397b15d2201dd1709fbec9e2998b61b78.ico">

    <meta content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
  </head>
  <body>
    {{ content }}
  </body>
</html>
