---
layout: default
---

{% assign images = "" | split: "" %}
{% for image in page.images %}
  {% assign images = images | push: image %}
{% endfor %}

<div class="header">
  <a class="index-link" href="https://gusevdima.github.io/index/">Index</a>
  <div class="logo">
    <a href="https://gusevdima.github.io/">Dima Gusev and Misha Filatov</a>
    <div class="actions">
      <div class="about-link actions-item">Read about us, </div>
      <!-- <div class="actions-item">, </div> -->
      <a class="actions-item" href="mailto:gdemag@gmail.com">send e-mail, </a>
      <!-- <div class="actions-item">,</div> -->
      <a class="nowrap" href="tel:+79032202621">+7 903 220 2621</a>
    </div>
  </div>
  <div class="captions-wrapper">
    <div class="captions">
      {% for image in images %}
        <div class="caption">
          <div class="number">{{ forloop.index }}/{{ forloop.length }}</div>
          <div class="caption">{{ image.caption }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="slider-wrapper">
  <div class="slider">
    {% for image in images %}
      <div class="slider-item">
        <div class="slider-imgwrapper">
          <div class="slider-overlay"></div>
          <div class="slider-img" style="background-image: url(https://gusevdima.github.io/{{image.path}})"></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="next"></div>
  <div class="prev"></div>
</div>

<div class="index-content">
  <div class="previews">
    {% for image in images %}
      <div class="preview-item">
        <a href="#{{ forloop.index }}" class="preview-link">
          <div class="preview-overlay"></div>
          <div class="preview-img" style="background-image: url({{image.path}})"></div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
